@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");

@import "reset.css";
@import "variables.css";

/* Components */
@import "components/icon-row.css";
@import "components/status-bar.css";
@import "components/screen-header.css";
@import "components/badge.css";
@import "components/nav-bar.css";
@import "components/user-component.css";

/* screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";

body {
  color: var(--default-text-color);
  font-family: "Open Sans", "Noto Sans KR", sans-serif;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
