@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/screen-header.css";
@import "components/nav-bar.css";

/* screens */
@import "screens/login.css";
@import "screens/friends.css";

body {
  color: var(--default-text-color);
  font-family: "Open Sans", sans-serif;
}
