.chat-screen {
  background-color: #abc1d1;
  height: 500vh;
}
.chat-screen .status-bar {
  z-index: 9999;
}
.chat-screen .status-bar,
.chat-screen .alt-header {
  background-color: #abc1d1;
}
.chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

.main-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 110px;
}

.chat-timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 15px;
  border-radius: 25px;
}
