.chat-screen {
  background-color: #abc1d1;
}
.chat-screen::-webkit-scrollbar {
  display: none;
}
.chat-screen .status-bar {
  z-index: 9999;
}
.chat-screen .status-bar,
.chat-screen .alt-header {
  background-color: #abc1d1;
}
.chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}
.chat-screen .alt-header__title {
  font-size: 22px;
}

.main-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 110px;
}

.chat-timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 14px 16px;
  font-size: 14px;
  border-radius: 25px;
  margin-bottom: 25px;
}

.message-row {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 25px;
  z-index: -1;
}
@keyframes fadeIn {
  from {
    transform: translateY(30px);
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.message-row {
  opacity: 0;
  animation: fadeIn 0.5s linear forwards;
}
.message-row:nth-child(2) {
  animation-delay: 0.1s;
}
.message-row:nth-child(3) {
  animation-delay: 0.2s;
}
.message-row:nth-child(4) {
  animation-delay: 0.3s;
}
.message-row:nth-child(5) {
  animation-delay: 0.4s;
}
.message-row:nth-child(6) {
  animation-delay: 0.5s;
}
.message-row:nth-child(7) {
  animation-delay: 0.6s;
}
.message-row:nth-child(8) {
  animation-delay: 0.7s;
}
.message-row:nth-child(9) {
  animation-delay: 0.8s;
}
.message-row:nth-child(10) {
  animation-delay: 0.9s;
}
.message-row:nth-child(11) {
  animation-delay: 1s;
}
.message-row:nth-child(12) {
  animation-delay: 1.1s;
}
.message-row img {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  margin-right: 15px;
}
.message__author {
  display: block;
  margin-bottom: 8px;
}
.message__info {
  display: flex;
  align-items: flex-end;
}
.message__bubble {
  background-color: white;
  margin-right: 5px;
  padding: 10px;
  border-radius: 15px;
  border-top-left-radius: 0;
}
.message__author,
.message__time {
  font-size: 14px;
  opacity: 0.7;
}

.message-row--own {
  justify-content: flex-end;
}
.message-row--own .message__info {
  flex-direction: row-reverse;
}
.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-left-radius: 15px;
  border-top-right-radius: 0;
  margin-right: 0;
  margin-left: 5px;
}

.reply__wrapper {
  position: relative;
  height: 60px;
  width: 100%;
}
.reply {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  width: 100%;
  height: inherit;
  background-color: white;
  box-sizing: border-box;
  transition: display 1s;
}
.reply:focus-within .reply__column:first-child {
  display: none;
}
.reply .reply__column:first-child {
  display: flex;
  justify-content: center;
  width: 10%;
  max-width: 72px;
}
.reply .reply__column:last-child {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.reply i {
  opacity: 0.5;
}
.reply input {
  padding: 5px;
  height: 30px;
  width: 100%;
  border: none;
  border: var(--main-border);
  border-radius: 20px;
}
.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
}
.reply__column:last-child > i {
  top: 14px;
  right: 40px;
}
.reply__column:last-child button {
  top: 6px;
  right: 3px;
  width: 30px;
  height: 30px;
  background-color: var(--yellow);
  border: none;
  border-radius: 50%;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}
.reply__column button i {
  opacity: initial;
}
