.recommended-friends {
  margin: 25px 0;
  padding: 25px 0;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}
.recommended-friends__title {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}
.recommended-friends span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 110px 0;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
}
.open-chat__header span {
  opacity: 0.6;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  padding-bottom: 15px;
  border-bottom: var(--main-border);
  transition: background-color 0.1s ease-in-out;
}
.open-post:hover,
.open-post:focus {
  background-color: var(--main-hover-color);
}
.open-post:last-child {
  border: none;
}
.open-post__title {
  margin-top: 15px;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
}
.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
}
.open-post__members {
  margin-top: 6px;
  display: flex;
  align-items: center;
}
.open-post__members img {
  margin-right: 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.open-post__members .divider {
  width: 1.5px;
  height: 10px;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.2);
}
.open-post__member-count {
  opacity: 0.5;
  font-size: 14px;
}
.open-post__member-status {
  color: #ffb0e0;
}
.open-post__photo {
  position: relative;
}
.open-post__photo img {
  width: 110px;
  height: 110px;
  border-radius: 10px;
}
.open-post__heart-count {
  position: absolute;
  right: 5px;
  bottom: 10px;
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  color: white;
  border-radius: 20px;
}

.open-post__heart-count span {
  margin-left: 3px;
}
