.settings__setting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
  font-size: 20px;
}
.settings__setting-column {
  display: flex;
  position: relative;
}
.settings__setting-column:last-child {
  opacity: 0.6;
  font-size: 18px;
}
.settings__icon-wrapper {
  margin-right: 18px;
  width: 20px;
  height: 20px;
}

.settings__icon-wrapper i {
  opacity: 0.9;
  font-size: 20px; /* Icons size */
}

.settings__icon-wrapper ~ .badge {
  position: absolute;
  display: block;
  left: 110px;
}
