.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  font-weight: 600;
  color: white;
  background-color: tomato;
  border-radius: 50%;
}

.badge--point {
  display: block;
  width: 5px;
  height: 5px;
}
