.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e363e;
  position: relative;
}

.nav__notification {
  background-color: tomato;
  border-radius: 50%;
  position: absolute;
}

.nav__notification--number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  font-weight: 600;
  color: white;
  left: 18px;
  top: -20px;
}

.nav__notification--point {
  display: block;
  width: 5px;
  height: 5px;
  left: 32px;
}
