.nav-wrapper {
  position: relative;
  width: 100%;
  height: 73px; /* current .nav height */
  bottom: 0;
}
.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: inherit;
  box-sizing: border-box;
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: var(--default-text-color);
  position: relative;
}
.nav__link:nth-child(2):hover > .badge,
.nav__link:nth-child(2):focus > .badge {
  animation: flipCoin 0.8s linear infinite;
} /* .nav__link:nth-child(2)는 채팅 아이콘 */

.nav__notification {
  position: absolute;
}

.nav__notification--number {
  left: 18px;
  top: -20px;
}

.nav__notification--point {
  left: 32px;
}

@keyframes flipCoin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
