.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  position: relative;
  margin-left: 25px;
}

.screen-header__icons span .badge {
  position: absolute;
  left: -1px;
  top: -2px;
}

@keyframes iconSpin {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(720deg);
  }
}

.screen-header__icons .fa-cog:hover,
.screen-header__icons .fa-cog:focus {
  animation: iconSpin 1s ease-in-out infinite;
}
