@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import "reset.css";

html {
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #f4f5f7;
  font-family: "Open Sans", sans-serif;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 750px;
}

.device {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px 30px;
  width: 300px;
  height: 645px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 15px 0;
  padding: 0 20px;
  width: 100%;
}
.nav-bar__column > * {
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 145px;
}
.header__profile-img {
  border-radius: 50%;
  box-shadow: 0 10px 25px #ff7529;
}
.header__profile-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  height: 48px;
}

.main-title {
  display: block;
  color: rgb(34, 34, 34);
}
.main-title--big {
  font-size: 24px;
  font-weight: 700;
}
.main-title--small {
  font-size: 15px;
  font-weight: 600;
}

.sub-title {
  display: block;
  color: rgba(0, 0, 0, 0.5);
}
.sub-title--big {
  font-size: 15px;
  font-weight: 600;
}
.sub-title--small {
  font-size: 12px;
  font-weight: 400;
}

.middle-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  padding: 0 43px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 36px;
  border-radius: 25px;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.btn--black {
  color: white;
  background-color: rgb(34, 34, 34);
}
.btn--white {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.music-list-box {
  flex: auto;
  display: flex;
  max-height: 380px; /* To Do: 현재 높이 js 적용하기*/
}
.music-list-box__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 80px 15px;
  width: 100%;
  max-height: inherit;
  overflow-y: scroll;
}
.music-list-box__list::-webkit-scrollbar {
  width: 4px;
  background-color: white;
}
.music-list-box__list::-webkit-scrollbar-thumb {
  background-color: black;
}
.music-list-box__music {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  height: auto;
  min-height: 60px;
  border-radius: 15px;
}
.music-list-box__music:hover {
  transform: scale(1.005);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.music-list-box__music__album-img-box {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.music-list-box__music__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 60px;
  padding: 14px 10px;
}

.background-play-box {
  position: absolute;
  bottom: 15px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.background-play {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  width: 90%;
  height: 60px;
  border: 2px solid rgb(34, 34, 34);
  border-radius: 45px;
  background-color: white;
  opacity: 0.95;
}
.background-play__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
  padding: 14px 0;
}
.background-play__btn-bar * {
  padding: 0 5px;
}
.background-play__btn-bar *:hover {
  cursor: pointer;
}

.current-music-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}
.current-music-info__album-img-box {
  border-radius: 80px;
  box-shadow: 0 20px 65px #ff7529;
}
.current-music-info__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
  height: 55px;
}

#playtime-progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  padding: 0 20px;
  width: 100%;
}
.playtime-progress-bar__time-bar {
  display: flex;
  justify-content: space-between;
}
.playtime-progress-bar__time-bar * {
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
  font-weight: 600;
}
.playtime-progress-bar__range {
  height: 3px;
  margin-top: 10px;
  background-color: black;
}
